In [1]:
import pandas as pd

In [15]:
comparisons = pd.read_excel("../data/chr-2025.xlsx", sheet_name="comparisons")

In [16]:
comparisons.columns

Index(['id', 'sentence', 'lang', 'llama', 'gpt4', 'gramm', 'diff', 'group'], dtype='object')

In [17]:
comparisons[['id', 'sentence', 'lang', 'llama', 'gpt4', 'gramm', 'group']].to_csv("comparisons.csv")

In [18]:
comparisons.groupby("group").count()

        id  sentence  lang  llama  gpt4  gramm  diff
group
atb-1    2         2     2      2     2      2     2
atb-2    2         2     2      2     2      2     2
atb-3    2         2     2      2     2      2     2
atb-4    2         2     2      2     2      2     2
atb-5    2         2     2      2     2      2     2
atb-6    3         3     3      3     3      3     3
lbe-1    2         2     2      2     2      2     2
lbe-2    2         2     2      2     2      2     2
para-1   8         8     8      8     8      8     8
para-2   7         7     7      7     7      7     7
para-3   8         8     8      8     8      8     8
rbe-1    2         2     2      2     2      2     2
rbe-2    2         2     2      2     2      2     2
yn-1     6         6     6      6     6      6     6
yn-2     6         6     6      6     6      6     6
yn-3     6         6     6      6     6      6     6