In [3]:
import pandas as pd

# Load the existing DataFrame
file_path = "parasittic-llama-openaigpt.xlsx"
df = pd.read_excel(file_path, index_col=0)

# Calculate absolute difference to expected_score for each model
df["diff_LLaMa"] = abs(df["LlaMa_score"] - df["expected_score"])
df["diff_gpt4"] = abs(df["gpt-4_score"] - df["expected_score"])
df["diff_gpt3.5"] = abs(df["gpt-3.5-turbo_score"] - df["expected_score"])

In [39]:
df.iloc[51]

keyword                                                          stretch
code                                                              pl-n-1
sentence               Her er himmelen mannen som ville klippe den op...
tense_x                                                              NaN
lang                                                           Norwegian
LlaMa_score                                                            1
gpt-4_score                                                            1
gpt-3.5-turbo_score                                                    1
hash                   268d431927b8441ede2ffacdf37488353fb948eebb9cea...
expected_score                                                         5
diff_LLaMa                                                             4
diff_gpt4                                                              4
diff_gpt3.5                                                            4
Name: 51, dtype: object

In [22]:
res = df[["lang", "diff_LLaMa", "diff_gpt4", "diff_gpt3.5"]].groupby("lang").describe().transpose().reset_index()

In [23]:
res[res.level_1 == "mean"]

lang      level_0 level_1   English  Norwegian
1      diff_LLaMa    mean  0.644444   1.266667
9       diff_gpt4    mean  0.511111   0.966667
17    diff_gpt3.5    mean  0.955556   1.533333

In [30]:
res2 = df[["lang","code", "diff_LLaMa", "diff_gpt4", "diff_gpt3.5"]].groupby(["code"]).describe().transpose().reset_index()

In [43]:
df[df.code.isin(["lp-n-2", "pl-n-1"])][["diff_LLaMa", "diff_gpt4", "diff_gpt3.5","expected_score"]]

    diff_LLaMa  diff_gpt4  diff_gpt3.5  expected_score
5            0          0            0               5
16           0          0            1               5
26           0          1            2               5
36           0          0            1               5
41           3          1            2               5
51           4          4            4               5

In [45]:
df.iloc[[41, 51]].style

In [42]:
df[df.code.isin(["lp-e-1", "pl-e-2"])][["diff_LLaMa", "diff_gpt4", "diff_gpt3.5","expected_score"]]

    diff_LLaMa  diff_gpt4  diff_gpt3.5  expected_score
3            1          0            1               1
11           1          0            0               1
23           1          1            1               1
32           1          1            1               1
47           0          0            1               1
57           1          1            0               1
62           0          0            0               1
65           1          0            1               1
68           0          0            1               1
71           1          0            1               1
74           1          1            1               1