In [ ]:
1


lp-e-b You donated money to UNICEF because you believed in them.
lp-e-0 Which organization did you donate money to because you believed in? 
lp-e-2 Which organization did you donate money to because you believed in it? 
lp-e-1 Which organization did you donate money to it because you believed in? 
lp-e-3 Which organization did you donate money to it because you believed in it? 

lp Hvilken organisasjon donerte du penger til fordi du trodde på den? 
lp Hvilken organisasjon donerte du penger til den fordi du trodde på? 
lp Hvilken organisasjon donerte du penger til den fordi du trodde på den? 
lp Hvilken organisasjon donerte du penger til fordi du trodde på? 
lp Du donerte penger til Frelsesarmeen fordi du trodde på den.

lg - pg
Which type of cod did John weigh before slaying?
Which type of cod did John weigh it before slaying?
Which type of cod did John weigh it before slaying it?
Which type of cod did John weigh before slaying it?
John weighed this type of cod before slaying it.

Hva slags torsk pleier Ola å veie for å gjette vekten av?
Hva slags torsk pleier Ola å veie for å gjette vekten av den?
Hva slags torsk pleier Ola å veie den for å gjette vekten av?
Hva slags torsk pleier Ola å veie den for å gjette vekten av den?
Ola pleier å veie denne type torsk for å gjette vekten av den.

pg - lg

The German Shepherd is exactly the kind of dog which everyone who owns often takes to the vet.
The German Shepherd is exactly the kind of dog which everyone who owns it often takes to the vet.
The German Shepherd is exactly the kind of dog which everyone who owns it often takes it to the vet.
The German Shepherd is exactly the kind of dog which everyone who owns often takes it to the vet.
Everyone who owns a German Shepherd often takes it to the vet.

Border collien er akkurat den type hund som alle som eier tar med til veterinæren.
Border collien er akkurat den type hund som alle som eier den tar med til veterinæren.
Border collien er akkurat den type hund som alle som eier tar den med til veterinæren.
Border collien er akkurat den type hund som alle som eier den tar den med til veterinæren.
Alle som eier en Border Collie tar den med til veterinæren.

This is a problem that everyone who studies spends hours trying to solve.
This is a problem that everyone who studies it spends hours trying to solve.
This is a problem that everyone who studies spends hours trying to solve it.
This is a problem that everyone who studies it spends hours trying to solve it.
Everyone who studies it spends hours trying to solve it.

Det her er et problem som alle som studerer tilbringer timer med å løse.
Det her er et problem som alle som studerer det tilbringer timer med å løse.
Det her er et problem som alle som studerer tilbringer timer med å løse det.
Det her er et problem som alle som studerer det tilbringer timer med å løse det.
Alle som studerer det her problemet tilbringer timer med å løse det.


lg - pg
Hvem fortalte du om krigen uten å vite var sjøfolk.
Hvem fortalte du om krigen uten å vite de var sjøfolk.
Hvem fortalte du dem om krigen uten å vite var sjøfolk.
Hvem fortalte du dem om krigen uten å vite de var sjøfolk.
Du fortalte dem om krigen uten å vite de var sjøfolk.

Who did you tell about the war without knowing were veterans.
Who did you tell them about the war without knowing they were veterans.
Who did you tell them about the war without knowing were veterans.
Who did you tell them about the war without knowing they were veterans.
You told them about the war without knowing they were veterans.


pg-lg - stretched meaning

Her er himmelen mannen som ville klippe opp prøver å knuse i tusen biter.
Her er himmelen mannen som ville klippe den opp prøver å knuse i tusen biter.
Her er himmelen mannen som ville klippe opp prøver å knuse den i tusen biter.
Her er himmelen mannen som ville klippe den opp prøver å knuse den i tusen biter.
Mannen som ville klippe opp himmelen prøver å knuse den i tusen biter.

This is the sky which the man who would cut up tries to shatter into pieces.
This is the sky which the man who would cut it up tries to shatter into pieces.
This is the sky which the man who would cut up tries to shatter it into pieces.
This is the sky which the man who would cut it up tries to shatter it into pieces.
The man who would cut up the sky tries to shatter it into pieces.

In [1]:
import pandas as pd
import random

# Eksempler for de to temaene
frukt_nouns = ["frukter", "epler", "pærer", "plommer", "bær"]
frukt_verbs_lg = ["plukker", "høster", "samler"]
frukt_verbs_pg = ["syltet", "kokte", "sorterte"]
reise_nouns = ["steder", "byer", "land", "områder"]
reise_verbs_lg = ["reiste", "dro", "flyttet"]
reise_verbs_pg_pret = ["bodde", "studerte", "arbeidet"]
reise_verbs_pg_inf = ["bo", "studere", "arbeide"]

# Lag eksempelsetninger
def generate_examples(n=5):
    examples = []
    for _ in range(n):
        # Frukt: pl-n-0 (parasitic før licensing), pret
        noun = random.choice(frukt_nouns)
        lg_verb = random.choice(frukt_verbs_lg)
        pg_verb = random.choice(frukt_verbs_pg)
        sent = f"Hvilke {noun} plukket alle som {pg_verb} dem {lg_verb}?"
        code = f"frukt pret pl-n-0"
        examples.append((sent, "frukt", "pret", "pl-n-0"))

        # Reise: pl-n-0 (parasitic før licensing), pret
        noun = random.choice(reise_nouns)
        lg_verb = random.choice(reise_verbs_lg)
        pg_verb = random.choice(reise_verbs_pg_pret)
        sent = f"Hvilke {noun} var det hun {lg_verb} til uten at hun {pg_verb} først?"
        code = f"reise pret pl-n-0"
        examples.append((sent, "reise", "pret", "pl-n-0"))

        # Reise: pl-n-0, inf
        noun = random.choice(reise_nouns)
        lg_verb = random.choice(reise_verbs_lg)
        pg_verb = random.choice(reise_verbs_pg_inf)
        sent = f"Hvilke {noun} var det hun {lg_verb} til uten å {pg_verb} først?"
        code = f"reise inf pl-n-0"
        examples.append((sent, "reise", "inf", "pl-n-0"))

    df = pd.DataFrame(examples, columns=["sentence", "keyword", "tense", "code"])
    return df

df_new_examples = generate_examples(5)

In [3]:
df_new_examples.style

In [ ]:
import pandas as pd
import re

# Load the file
file_path = "/mnt/data/data-chr-2025 - Ark 1.csv"
df = pd.read_csv(file_path)

# Function to infer filler based on keyword
def infer_filler(keyword):
    keyword = keyword.lower()
    if keyword in ['epler', 'frukt', 'pærer', 'jordbær']:
        return 'dem'
    elif keyword in ['steder', 'byer', 'land']:
        return 'der'
    elif keyword in ['bøker', 'artikler']:
        return 'dem'
    else:
        return 'det'

# Apply the filler function
df['filler'] = df['nøkkelord'].apply(infer_filler)

# Update IDs from pl-n-0 to pl-n-1, pl-n-2, pl-n-3 etc.
def update_id(id_val, counter_dict):
    base = re.sub(r'\d+$', '', id_val)
    if base not in counter_dict:
        counter_dict[base] = 1
    else:
        counter_dict[base] += 1
    return f"{base}{counter_dict[base]}"

counter_dict = {}
df['id'] = df['id'].apply(lambda x: update_id(x, counter_dict))

import ace_tools as tools; tools.display_dataframe_to_user(name="Updated Parasitic Gap Data", dataframe=df)

In [5]:
import pandas as pd
import random
from itertools import product
#import ace_tools as tools

# Eksempeldata for tematiske kategorier og strukturelle variasjoner
themes = {
    "frukt": {
        "objects": ["epler", "pærer", "plommer", "moreller", "jordbær"],
        "verbs_main": ["plukket", "sanket", "høstet", "samlet", "pakket"],
        "verbs_sub": ["kokte", "sylta", "rensa", "vaska", "kutta"],
    },
    "reise": {
        "objects": ["byer", "steder", "land", "hovedsteder", "reisemål"],
        "verbs_main": ["besøkte", "reiste til", "dro til", "var i", "utforska"],
        "verbs_sub": ["studerte", "undersøkte", "leste om", "skrev om", "hørte om"],
    }
}

structures = [
    ("pl-n-0", "før", "uten at hun {} først", "{}"),
    ("pl-n-1", "før", "uten å {} først", "{}"),
    ("lp-n-0", "etter", "fordi hun {} før hun {}", "{}"),
    ("lp-n-1", "etter", "fordi hun {} før hun {}", "{}"),
]

results = []

for theme, content in themes.items():
    for obj, verb_main, verb_sub, (code, tense, template, filler) in product(
        content["objects"], content["verbs_main"], content["verbs_sub"], structures):
        sentence = f"Hvilke {obj} {template.format(verb_sub, verb_main)}?"
        results.append({
            "key": theme,
            "tense": tense,
            "code": code,
            "sentence": sentence
        })

# Trekker ut 20 tilfeldige eksempler for variasjon
sampled_results = random.sample(results, 20)
df = pd.DataFrame(sampled_results)

In [46]:
df[df.fillna('').sentence.str.contains("German")][["code", "sentence"]].style

In [7]:
import pandas as pd
import random

# Eksempeldata med nøkkelord og utfyllende informasjon
keywords = [
    {'nøkkelord': 'frukt', 'filler': 'hvilke plommer', 'verb1': 'høstet', 'verb2': 'renset', 'adverb': 'før hun la dem i kurven', 'tempus': 'pret'},
    {'nøkkelord': 'reise', 'filler': 'hvilke byer', 'verb1': 'besøkte', 'verb2': 'studerte', 'adverb': 'før hun fikk stipend', 'tempus': 'pret'},
    {'nøkkelord': 'bøker', 'filler': 'hvilke bøker', 'verb1': 'kjøpte', 'verb2': 'leste', 'adverb': 'før hun skrev anmeldelsen', 'tempus': 'pret'},
    {'nøkkelord': 'filmer', 'filler': 'hvilke filmer', 'verb1': 'så', 'verb2': 'analyserte', 'adverb': 'før hun diskuterte dem i timen', 'tempus': 'pret'},
    {'nøkkelord': 'planter', 'filler': 'hvilke planter', 'verb1': 'plantet', 'verb2': 'vannet', 'adverb': 'før hun dro på ferie', 'tempus': 'pret'}
]

# Funksjon for å generere setninger
def generate_sentences(entry, order='lp', fill=0):
    f = entry['filler']
    v1 = entry['verb1']
    v2 = entry['verb2']
    adv = entry['adverb']
    t = entry['tempus']
    k = entry['nøkkelord']

    if order == 'lp':
        if fill == 0:
            s = f"{f} {v1} hun fordi hun {v2} {adv}?"
        elif fill == 1:
            s = f"{f} {v1} hun dem fordi hun {v2} {adv}?"
        elif fill == 2:
            s = f"{f} {v1} hun fordi hun {v2} dem {adv}?"
        elif fill == 3:
            s = f"{f} {v1} hun dem fordi hun {v2} dem {adv}?"
    elif order == 'pl':
        if fill == 0:
            s = f"{f} fordi hun {v2} {v1} hun {adv}?"
        elif fill == 1:
            s = f"{f} fordi hun {v2} dem {v1} hun {adv}?"
        elif fill == 2:
            s = f"{f} fordi hun {v2} {v1} hun dem {adv}?"
        elif fill == 3:
            s = f"{f} fordi hun {v2} dem {v1} hun dem {adv}?"
    code = f"{order}-n-{fill}"
    return {'kode': code, 'nøkkelord': k, 'setning': s, 'tempus': t}

# Generer setninger for alle kombinasjoner
data = []
for entry in keywords:
    for order in ['lp', 'pl']:
        for fill in [0, 1, 2, 3]:
            data.append(generate_sentences(entry, order, fill))

df = pd.DataFrame(data)
#import ace_tools as tools; tools.display_dataframe_to_user(name="Genererte setninger", dataframe=df)

In [8]:
df

      kode nøkkelord                                            setning tempus
0   lp-n-0     frukt  hvilke plommer høstet hun fordi hun renset før...   pret
1   lp-n-1     frukt  hvilke plommer høstet hun dem fordi hun renset...   pret
2   lp-n-2     frukt  hvilke plommer høstet hun fordi hun renset dem...   pret
3   lp-n-3     frukt  hvilke plommer høstet hun dem fordi hun renset...   pret
4   pl-n-0     frukt  hvilke plommer fordi hun renset høstet hun før...   pret
5   pl-n-1     frukt  hvilke plommer fordi hun renset dem høstet hun...   pret
6   pl-n-2     frukt  hvilke plommer fordi hun renset høstet hun dem...   pret
7   pl-n-3     frukt  hvilke plommer fordi hun renset dem høstet hun...   pret
8   lp-n-0     reise  hvilke byer besøkte hun fordi hun studerte før...   pret
9   lp-n-1     reise  hvilke byer besøkte hun dem fordi hun studerte...   pret
10  lp-n-2     reise  hvilke byer besøkte hun fordi hun studerte dem...   pret
11  lp-n-3     reise  hvilke byer besøkte hun dem fordi hun studerte...   pret
12  pl-n-0     reise  hvilke byer fordi hun studerte besøkte hun før...   pret
13  pl-n-1     reise  hvilke byer fordi hun studerte dem besøkte hun...   pret
14  pl-n-2     reise  hvilke byer fordi hun studerte besøkte hun dem...   pret
15  pl-n-3     reise  hvilke byer fordi hun studerte dem besøkte hun...   pret
16  lp-n-0     bøker  hvilke bøker kjøpte hun fordi hun leste før hu...   pret
17  lp-n-1     bøker  hvilke bøker kjøpte hun dem fordi hun leste fø...   pret
18  lp-n-2     bøker  hvilke bøker kjøpte hun fordi hun leste dem fø...   pret
19  lp-n-3     bøker  hvilke bøker kjøpte hun dem fordi hun leste de...   pret
20  pl-n-0     bøker  hvilke bøker fordi hun leste kjøpte hun før hu...   pret
21  pl-n-1     bøker  hvilke bøker fordi hun leste dem kjøpte hun fø...   pret
22  pl-n-2     bøker  hvilke bøker fordi hun leste kjøpte hun dem fø...   pret
23  pl-n-3     bøker  hvilke bøker fordi hun leste dem kjøpte hun de...   pret
24  lp-n-0    filmer  hvilke filmer så hun fordi hun analyserte før ...   pret
25  lp-n-1    filmer  hvilke filmer så hun dem fordi hun analyserte ...   pret
26  lp-n-2    filmer  hvilke filmer så hun fordi hun analyserte dem ...   pret
27  lp-n-3    filmer  hvilke filmer så hun dem fordi hun analyserte ...   pret
28  pl-n-0    filmer  hvilke filmer fordi hun analyserte så hun før ...   pret
29  pl-n-1    filmer  hvilke filmer fordi hun analyserte dem så hun ...   pret
30  pl-n-2    filmer  hvilke filmer fordi hun analyserte så hun dem ...   pret
31  pl-n-3    filmer  hvilke filmer fordi hun analyserte dem så hun ...   pret
32  lp-n-0   planter  hvilke planter plantet hun fordi hun vannet fø...   pret
33  lp-n-1   planter  hvilke planter plantet hun dem fordi hun vanne...   pret
34  lp-n-2   planter  hvilke planter plantet hun fordi hun vannet de...   pret
35  lp-n-3   planter  hvilke planter plantet hun dem fordi hun vanne...   pret
36  pl-n-0   planter  hvilke planter fordi hun vannet plantet hun fø...   pret
37  pl-n-1   planter  hvilke planter fordi hun vannet dem plantet hu...   pret
38  pl-n-2   planter  hvilke planter fordi hun vannet plantet hun de...   pret
39  pl-n-3   planter  hvilke planter fordi hun vannet dem plantet hu...   pret

In [9]:
import pandas as pd
import random

# Define thematic verb-noun templates for English (lp = licensing before parasitic gap)
english_templates = [
    {
        "keyword": "fruit",
        "tense": "past",
        "base": "Which apples did she pick before she cleaned?",
        "gap2": "Which apples did she pick before she cleaned them?",
        "gap1": "Which apples did she pick them before she cleaned?"
    },
    {
        "keyword": "cities",
        "tense": "past",
        "base": "Which cities did she visit before she studied?",
        "gap2": "Which cities did she visit before she studied them?",
        "gap1": "Which cities did she visit them before she studied?"
    },
    {
        "keyword": "emails",
        "tense": "present",
        "base": "Which emails does he answer before he reads?",
        "gap2": "Which emails does he answer before he reads them?",
        "gap1": "Which emails does he answer them before he reads?"
    },
    {
        "keyword": "books",
        "tense": "present",
        "base": "Which books do they shelve before they categorize?",
        "gap2": "Which books do they shelve before they categorize them?",
        "gap1": "Which books do they shelve them before they categorize?"
    },
    {
        "keyword": "letters",
        "tense": "past",
        "base": "Which letters did he write before he mailed?",
        "gap2": "Which letters did he write before he mailed them?",
        "gap1": "Which letters did he write them before he mailed?"
    }
]

# Format into DataFrame
data = []
for i, tpl in enumerate(english_templates):
    base_code = f"lp-e-0"
    gap2_code = f"lp-e-2"
    gap1_code = f"lp-e-1"
    data.append([tpl["keyword"], tpl["tense"], base_code, tpl["base"]])
    data.append([tpl["keyword"], tpl["tense"], gap2_code, tpl["gap2"]])
    data.append([tpl["keyword"], tpl["tense"], gap1_code, tpl["gap1"]])

df_english = pd.DataFrame(data, columns=["keyword", "tense", "code", "sentence"])

#import ace_tools as tools; tools.display_dataframe_to_user(name="English PG Dataset", dataframe=df_english)

In [10]:
df_english

,keyword,tense,code,sentence
0,fruit,past,lp-e-0,Which apples did she pick before she cleaned?
1,fruit,past,lp-e-2,Which apples did she pick before she cleaned t...
2,fruit,past,lp-e-1,Which apples did she pick them before she clea...
3,cities,past,lp-e-0,Which cities did she visit before she studied?
4,cities,past,lp-e-2,Which cities did she visit before she studied ...
5,cities,past,lp-e-1,Which cities did she visit them before she stu...
6,emails,present,lp-e-0,Which emails does he answer before he reads?
7,emails,present,lp-e-2,Which emails does he answer before he reads them?
8,emails,present,lp-e-1,Which emails does he answer them before he reads?
9,books,present,lp-e-0,Which books do they shelve before they categor...
10,books,present,lp-e-2,Which books do they shelve before they categor...
11,books,present,lp-e-1,Which books do they shelve them before they ca...
12,letters,past,lp-e-0,Which letters did he write before he mailed?
13,letters,past,lp-e-2,Which letters did he write before he mailed them?
14,letters,past,lp-e-1,Which letters did he write them before he mailed?

In [32]:
data = pd.read_csv("data-chr-2025 - Ark 1.csv")

In [33]:
data

,keyword,code,sentence,tense
0,organization,lp-e-b,You donated money to UNICEF because you believ...,past
1,organization,lp-e-0,Which organization did you donate money to bec...,past
2,organization,lp-e-2,Which organization did you donate money to bec...,past
3,organization,lp-e-1,Which organization did you donate money to it ...,past
4,organization,lp-e-3,Which organization did you donate money to it ...,past
...,...,...,...,...
69,stretch,pl-e-0,This is the sky which the man who would cut up...,NaN
70,stretch,pl-e-1,This is the sky which the man who would cut it...,NaN
71,stretch,pl-e-2,This is the sky which the man who would cut up...,NaN
72,stretch,pl-e-3,This is the sky which the man who would cut it...,NaN
73,stretch,pl-e-b,The man who would cut up the sky tries to shat...,NaN

In [34]:
df = pd.concat([data, df_english])

In [35]:
df[df.fillna('').code.str.startswith("lp")].style

In [40]:
df.reset_index()[df.columns].to_excel("data_for_processing.xlsx")